<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>loginpage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
		body, html {
            height: 100%;
            margin: 0;
            background-color: rgb(14, 14, 43);
        }

        .bg {
            background-image: url("bgwal.jpg");
            height: 100%; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        span{
            color: white;
			font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            padding-left: 10px;
            
            font-size: 30px;
        }
        h3{
            text-align: center;
            font-family: "Times New Roman", Times, serif;
            font-weight: 900;
            padding: 20px;
        }
        h5{
            text-align: center;
            font-family: "Times New Roman", Times, serif;
            
        }
        ul{
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            word-wrap: break-word;
            width: 20em; 
            border: 2px solid lightblue;
        }
        li{
            line-height:80%;
        }
        .card{
            margin-left: 30px;
            margin-right: 30px;
        }

		
    </style>

  </head>
  <body>
    <div class="bg">
        <div class="container-fluid" style="background-color: rgb(27, 27, 80);">
            <nav class="navbar navbar-dark p-2">
                <a class="navbar-brand" href="index.html">
                    <img src="logo.jpg" width="50" height="50" class="d-inline-block" style="border: 2px solid #ddd; padding:5px; border-radius: 8px;" alt="">
                    <span>Smart Parking System</span>
                </a>
                <div>
                    <a class="btn btn-outline-info my-2 my-sm-0" href="http://localhost:3000/monthly_register" role="buuton"><b>Monthly Recharge</b></a>
                    <a class="btn btn-outline-info my-2 my-sm-0" href="http://localhost:3000/regular_register" role="button"><b> Card Recharge</b></a>
                </div>
                
            </nav>
          </div>

          <div class="card-group mt-5">
            <div class="card bg-dark text-white" id="cd">
              <img class="card-img" style="border: 4px solid rgb(63, 50, 48);" src="c1.jpg" alt="">
              <div class="card-img-overlay">
                <h3 class="card-title">How to Recharge</h3>
                <center>
                <ul class="card-text">
                    <li>
                     <h5>Click on the Recharge button in the top the page</h5>
                    </li>
                    <li>
                        <h5>Enter your card number and select vehicle_type</h5>
                    </li>
                    <li>
                        <h5>Pay the amount using given QR code</h5>
                    </li>
                    <li>
                        <h5>After payment, write transaction id given in your phone</h5>
                    </li>
                </ul>
                </center>
              </div>
            </div>

            <div class="card bg-dark text-white" id="cd">
              <img class="card-img" src="c2.jpg" style="border: 4px solid rgb(45, 69, 119);" alt="">
              <div class="card-img-overlay">
                <h3 class="card-title">Functionality of Smart Card</h3>
                <center>
                    <ul class="card-text">
                        <li>
                            <h5>In recharged cards, you must maintain minimum balance (Rs.300/-)</h5>
                        </li>
                        <li>
                            <h5>In monthly recharged cards, you can park your car anytime</h5>
                        </li>
                        <li>
                            <h5>First time recharge must be done in our counters</h5>
                        </li>
                        <li>
                            <h5>First time recharge must be done in our counters</h5>
                        </li>
                    </ul>
                    </center>
              </div>
            </div>

            <div class="card bg-dark text-white" id="cd">
                <img class="card-img" src="c3.jpg" style="border: 4px solid rgb(19, 41, 2);" alt="">
                <div class="card-img-overlay">
                  <h3 class="card-title">Recharge and Payment</h3>
                  <center>
                      <ul class="card-text">
                          <li>
                              <h5>The payment can be made online or offline through UPI or cash </h5>
                          </li>
                          <li>
                              <h5>No extra charges have to pay for recharge online</h5>
                          </li>
                          <li>
                            <div class="table-responsive-sm table-dark">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th scope="col" style="color: #ddd;">Type</th>
                                          <th scope="col" style="color: #ddd;">Recharge</th>
                                          <th scope="col" style="color: #ddd;">Monthly</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td style="color: #ddd;">Bike</td>
                                          <td style="color: #ddd;">500/-</td>
                                          <td style="color: #ddd;">2000/-</td>
                                        </tr>
                                        <tr>
                                          <td style="color: #ddd;">Car</td>
                                          <td style="color: #ddd;">500/-</td>
                                          <td style="color: #ddd;">2000/-</td>
                                        </tr>
                                      </tbody>
                                </table>
                              </div>
                        </li>
                      </ul>
                      </center>
                </div>
              </div>
        
          </div>
          

    </div>
    
  </body>
</html>